<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      Donde Indio
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a
            class="nav-link <%= (typeof activePage !== 'undefined' && activePage === 'inicio') ? 'active' : '' %>"
            href="/"
          >
            Inicio
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link <%= (typeof activePage !== 'undefined' && activePage === 'mesas') ? 'active' : '' %>"
            href="/mesas"
          >
            Mesas
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link <%= (typeof activePage !== 'undefined' && activePage === 'ingresos') ? 'active' : '' %>"
            href="/reportes/ingresos"
          >
            Ingresos
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link <%= (typeof activePage !== 'undefined' && activePage === 'top-productos') ? 'active' : '' %>"
            href="/reportes/top-productos"
          >
            Top productos
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link <%= (typeof activePage !== 'undefined' && activePage === 'facturas') ? 'active' : '' %>"
            href="/reportes/facturas"
          >
            Facturas
          </a>
        </li>

      </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <% if (typeof currentUser !== 'undefined' && currentUser) { %>
          <li class="nav-item">
            <span class="navbar-text me-2">
              <small>Sesión: <%= currentUser.username %></small>
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión</a>
          </li>
        <% } %>
      </ul>

    </div>
  </div>
</nav>